.chat-page{height: 100%;}
.chat-page .side-bar{margin-left: 30px;}
.chat-container{width: calc(65% - 30px); margin-left: 15px;display: inline-block;top: 50%;position: relative;transform: translateY(-60%); z-index: 0;}
.chat-container > div{margin: 0px 1px;}
.chat-list{margin-left: 2px; border-radius: 3px; }
.chat-list > ul{padding: 0px; list-style-type: none; margin-top: 4px;overflow-y: scroll;height: 400px; margin-bottom: 0px;display: block;}
.chat-list > ul > li{padding: 10px;/*box-shadow: 3px -3px 1.5px rgba(0,0,0,0.5);background-color: #1f1e1e; */border-radius: 3px; margin-bottom: 1px;}
.chat-list > ul > li > a.chosen{border-right:4px solid #3f93e9; display: block; margin: -10px; padding: 10px;}
.chat-list .profile-pic{width: 30px; height: 30px; margin-right: 8px}
.chat-info{position: relative;}
.chat-info > span:nth-of-type(2){position: absolute; right: 0px; top: 0px; }
.chat-info > span{font-size: 14px; }
.chat-info > div{margin-bottom: 4px;}
.chat-info > div > *{display: inline-block; vertical-align: middle;}
.chat-info > div > span{font-weight: 600;letter-spacing: 1px;}
.chat-list h1, .chat-content h1{/*background-color: #1f1e1e;*/box-shadow: 0px 2px 2px rgba(0,0,0,0.5); display: block; margin-left: 0px;padding: 14px 0px; padding-left: 24px;}
.chat-list, .chat-content{/*flex: 50%;max-width: 50%;*/position: relative; display: inline-block; vertical-align: top; background-color: rgba(0,0,0,0); box-shadow: none;}
.chat-list{/*flex: 40%;max-*/width: calc(40% - 2px)}
.chat-content{/*flex: 60%;max-*/width: calc(60% - 2px);border-radius: 3px;}
.chat-content > div{height: 404px; /*margin-top: 4px; background-color: rgb(200,200,200);*/ }
.chat-content > div > ul{margin:0px; height: calc(350px - 16px);list-style-type: none;padding-left: 16px;overflow-y: scroll; padding-top: 16px;padding-right: 16px; display: block}
.chat-content > div > form > textarea{height: 69px; width:calc(100% - 37.5px); resize: none;  margin: 0px;padding: 0px; border:none; font-size: 14px; letter-spacing: 0.5px; padding: 5px; padding-left: 24px; padding-top: 12px;}
.chat-text{letter-spacing: 0.5px;}
.chat-text .profile-pic{width: 40px; height: 40px; margin-right: 8px;}
.chat-text > div > *{display: inline-block;vertical-align: middle;}
.chat-text > div{margin-bottom: 12px;}
.chat-text > span{font-size: 14px;}
.chat-text > span:nth-of-type(2){float: right; font-size: 12px;}
.chat-content li{margin-bottom: 32px;}
.chat-container h1{/*color: rgb(75,75,75);*/  box-shadow: none;font-weight: 600;
    margin: 0px;
    font-size: 16px;
    letter-spacing: 1.6px;
    }
    div.chat-empty{height: 453px; position: relative;}
    div.chat-empty > span{position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); font-size: 22px; font-weight: 600;text-align: center; letter-spacing: 1.5px; line-height: 2em;}
    svg.submit-button{padding: 2px;display: inline-block; border-radius: 3px;position: absolute; top: 5px; right: 5px;}
    form{width: 100%;height: 70px;position:relative;}
    form  svg{width: 27.5px; height: 27.5px;}
    form > svg.submit-button {width: 27.5px; height: 27.5px}

    form > svg{position: absolute; bottom: 5px; right: 5px;}