@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'), url('./font/Quicksand-VariableFont:wght.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
}

code {
  font-family: 'Quicksand', sans-serif;
}
